<div class="container-fluid h-100 page-forgot-password">
  <div class="d-flex h-100 p-v-15 flex-column justify-content-between">
    <div class="d-none d-md-flex p-h-40">
      <img
        class="logo-main"
        ngSrc="./assets/images/logo/logo.png"
        alt=""
        width="154"
        height="64" />
    </div>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        @if (!isSended) {
          <div class="col-md-5">
            <nz-card>
              <h2 class="m-t-20">Forgot password</h2>
              <p class="m-b-30">
                Enter the login email to retrieve the password.
              </p>
              <form
                nz-form
                [formGroup]="validateForm"
                autocomplete="off"
                nzLayout="vertical"
                class="forgot-password-form"
                (ngSubmit)="send()">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
                  <nz-form-control [nzErrorTip]="emailErrorTpl">
                    <nz-input-group [nzPrefix]="prefixUser">
                      <input
                        type="text"
                        nz-input
                        formControlName="email"
                        placeholder="Email"
                        autocomplete="off"
                        required />
                    </nz-input-group>
                    <ng-template #emailErrorTpl let-control>
                      @if (control.errors?.['required']) {
                        {{ nzErrorRequire }}
                      }
                      @if (control.errors?.['pattern']) {
                        {{ nzErrorEmail }}
                      }
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>

                <div
                  *ngIf="validateForm.invalid && errorMsg"
                  class="ant-form-item-explain m-b-5">
                  <div class="ant-form-item-explain-error">
                    {{ errorMsg }}
                  </div>
                </div>

                <nz-form-item>
                  <nz-form-control>
                    <div
                      class="d-flex align-items-center justify-content-between">
                      <button
                        nz-button
                        class="forgot-password-form-button"
                        [disabled]="!validateForm.valid"
                        [nzType]="'primary'">
                        Send request
                      </button>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </form>
              <ng-template #prefixUser
                ><i nz-icon nzType="user"></i
              ></ng-template>
              <div>
                <p class="m-b-30">
                  Already have an account?
                  <a [routerLink]="['/login']">Login</a>
                </p>
              </div>
            </nz-card>
          </div>
          <div class="offset-md-1 col-md-6 d-none d-md-block">
            <img
              class="img-fluid"
              priority="low"
              ngSrc="./assets/images/others/login.png"
              alt=""
              height="1540"
              width="2066" />
          </div>
        } @else {
          <nz-card class="text-center" style="max-width: 390px">
            <i
              nz-icon
              nzType="mail"
              nzTheme="twotone"
              style="font-size: 56px"></i>
            <h3 style="font-size: 24px">Success!</h3>
            <p style="font-size: 16px">
              An email with instructions to set a new password has been sent.
              Please check the account’s email.
            </p>

            <div>
              <button
                nz-button
                nzType="primary"
                [nzSize]="'large'"
                [routerLink]="['/login']">
                Back to login page
              </button>
            </div>
          </nz-card>
        }
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">© 2024 Novo Nordisk</span>
    </div>
  </div>
</div>
