// Font family
@mixin font-fam-sans {
    font-family: $opensans-font;
    font-weight: 400;
}
@mixin font-fam-sans-l {
    font-family: $opensans-font;
    font-weight: 300;
}
@mixin font-fam-sans-b {
    font-family: $opensans-font;
    font-weight: 700;
}
@mixin font-fam-pop {
    font-family: $poppins-font;
    font-weight: 400;
}
@mixin font-fam-pop-b {
    font-family: $poppins-font;
    font-weight: 700;
}

// Font sizes
@mixin font-size-base {
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
}

// Anchor
@mixin anchor {
    @include transition(all, 0.2s, ease-in-out);
    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

// Hover State
@mixin boxed-btn-hvr {
    background-color: darken($primary-color, $darken);
    color: $white-color;
}
@mixin bordered-btn-hvr {
    background-color: darken($primary-color, $darken);
    color: $white-color;
}

// Rounded corners
@mixin rounded($radius: 5rem) {
    border-radius: $radius;
}

// Shadows
@mixin shadow($x: 5px, $y: 10px, $blur: 10px, $color: rgba(0, 0, 0, 0.1)) {
    box-shadow: $x $y $blur $color;
}
@mixin shadow-none {
    box-shadow: none;
}

// Transition
@mixin transition($property: all, $duration: .3s, $ease: ease-in-out) {
    transition: $property $duration $ease;
}

// Media queries {based on bootstrap 4}
$breakpoints: (
    "mobile": 575.98px,
    "tablet": 767.98px,
    "desktop": 991.98px,
    "desktop-l": 1199.98px,
);

@mixin mq-up($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin mq-down($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 0.02px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Responsive mixins
@mixin screen-desktop {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}
@mixin screen-laptop-above {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}
@mixin screen-laptop {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}
@mixin screen-laptop-only {
    @media only screen and (min-width: 992px) and (max-width: 1440px) {
        @content;
    }
}
@mixin screen-tablet-above {
    @media only screen and (min-width: 992px) {
        @content;
    }
}
@mixin screen-tablet {
    @media only screen and (max-width: 992px) {
        @content;
    }
}
@mixin screen-mobile-above {
    @media only screen and (min-width: 767px) {
        @content;
    }
}
@mixin screen-mobile {
    @media only screen and (max-width: 767px) {
        @content;
    }
}
@mixin print {
    @media print {
        @content;
    }
}

// Transform
@mixin transform($transforms) {
    transform: $transforms;
}

// Transform Origin
@mixin transform-origin($val) {
    transform-origin: $val;
}

// Box Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
    box-shadow: $top $left $blur $color #{$inset};
}

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Background Color Opacity
@mixin background-opacity($color, $opacity: 0.3) {
    background: rgba($color, $opacity);
}

// Animation & Keyframe
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

// Placeholder
@mixin placeholder {
    &::-webkit-input-placeholder { @content }
    &:-moz-placeholder { @content }
    &::-moz-placeholder { @content }
    &:-ms-input-placeholder { @content }
}

// RGBA Background Opacity
@mixin bg-opacity($color, $opacity: 0.3) {
    background: rgba($color, $opacity);
}

// Grayscale
@mixin grayscale($gray) {
    filter: grayscale($gray);
}

// Blur
@mixin blur($gray) {
    filter: blur($gray);
}
