<nz-card class="form-content" [nzExtra]="extraTemplate">
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <div>
      <h3>Form Information</h3>

      <div class="form-row">
        <nz-form-item class="form-group col-md-6">
          <nz-form-label nzRequired>Form Name</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              validateForm.value.name ? nzInvalidType : nzErrorRequire
            ">
            <input
              class="form-control"
              formControlName="name"
              nz-input
              [maxlength]="255"
              name="name" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-group col-md-6">
          <nz-form-label>Status</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="status"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-form-item class="form-group">
          <nz-form-label nzRequired>Consent</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              validateForm.value.consent ? nzInvalidType : nzErrorRequire
            ">
            <richtext
              class="form-control"
              formControlName="consent"
              name="consent"></richtext>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div>
      <h3>Register Form</h3>
      <div>
        <ng-container
          *ngFor="let event_form_detail of event_form_details; let i = index">
          <div class="mb-3 p-3 border rounded">
            <nz-form-label [nzRequired]="!!event_form_detail.is_required"
              >Question {{ i + 1 }}:</nz-form-label
            >
            <div class="row align-items-center">
              <div
                style="gap: 5px"
                class="col-1 d-flex flex-column align-items-center">
                <div>
                  <button
                    nz-button
                    nzType="default"
                    nzShape="circle"
                    [disabled]="i <= 0"
                    (click)="moveUp(i)">
                    <span nz-icon nzType="up"></span>
                  </button>
                </div>
                <div>
                  <button
                    nz-button
                    nzType="default"
                    nzShape="circle"
                    [disabled]="i >= event_form_details.length - 1"
                    (click)="moveDown(i)">
                    <span nz-icon nzType="down"></span>
                  </button>
                </div>
              </div>
              <div class="col-7">
                <div class="mb-3">
                  <div>
                    <p class="m-0" nz-typography>
                      <strong>Type:</strong>
                      {{ event_form_detail.type | capitalizeFirst }}
                    </p>
                  </div>
                  <div>
                    <p class="m-0" nz-typography>
                      <strong>Format:</strong>
                      {{ event_form_detail.format | capitalizeFirst }}
                    </p>
                  </div>
                </div>
                <div>
                  <p nz-typography>{{ event_form_detail.content }}</p>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-center">
                  <button
                    class="mr-3"
                    nz-button
                    nzType="default"
                    nzShape="circle"
                    [disabled]="
                      disableDefaultQuestion(event_form_detail.format)
                    "
                    (click)="copyQuestion(i)">
                    <i nz-icon nzType="copy" theme="outline"></i>
                  </button>
                  <button
                    class="mr-3"
                    nz-button
                    nzType="default"
                    nzShape="circle"
                    [disabled]="
                      disableDefaultQuestion(event_form_detail.format)
                    "
                    (click)="editQuestion(i)">
                    <i nz-icon nzType="edit" theme="outline"></i>
                  </button>
                  <button
                    class="mr-3"
                    nz-button
                    nzType="default"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="Delete"
                    nz-popconfirm
                    [nzPopconfirmTitle]="'Do you want to delete ?'"
                    nzPopconfirmPlacement="bottom"
                    [disabled]="
                      disableDefaultQuestion(event_form_detail.format)
                    "
                    (nzOnConfirm)="deleteQuestion(i)">
                    <i nz-icon nzType="delete" theme="outline"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div>
        <button nz-button nzType="primary" (click)="addQuestion()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>Add question
        </button>
      </div>
    </div>
  </form>
</nz-card>

<ng-template #extraTemplate>
  <button class="mr-4" nz-button nzType="primary" (click)="goBack()">
    <i nz-icon nzType="rollback" nzTheme="outline"></i>Back
  </button>

  <button nz-button nzType="default" (click)="save()">
    <i nz-icon nzType="save" theme="outline"></i>
    <span>Save</span>
  </button>
</ng-template>

@if (isVisibleQuestionModal) {
  <app-event-question-config
    [(isVisible)]="isVisibleQuestionModal"
    [value]="questionEdit?.question"
    (isVisibleChange)="handleCancelModal($event)"
    (submitQuestion)="handleSubmitQuestion($event)"></app-event-question-config>
}
