<div class="container-fluid h-100 page-login">
  <div class="d-flex h-100 p-v-15 flex-column justify-content-between">
    <div class="d-none d-md-flex p-h-40">
      <img
        class="logo-main"
        ngSrc="./assets/images/logo/logo.png"
        alt=""
        height="112"
        width="400" />
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <nz-card>
            <h2 class="m-t-20">Change Password</h2>
            <ul class="m-b-30" style="color: #72849a">
              <h5>Note:</h5>
              <li class="m-l-20">Minimum Password Length: 8 Characters</li>
              <li class="m-l-20">
                Password must contain at least 1 uppercase letter, 1 lowercase
                letter, 1 digit, and 1 special character.
              </li>
              <li class="m-l-20">Password must not contain any whitespace.</li>
            </ul>

            <form
              nz-form
              [formGroup]="validateForm"
              autocomplete="off"
              nzLayout="vertical"
              class="login-form"
              (ngSubmit)="changePassword()">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="current_password">
                  Current Password
                </nz-form-label>
                <nz-form-control
                  [nzErrorTip]="
                    !validateForm.value.current_password ? nzErrorRequire : ''
                  ">
                  <nz-input-group
                    [nzPrefix]="prefixLock"
                    [nzSuffix]="suffixVisible">
                    <input
                      [type]="isVisibleCPassword ? 'text' : 'password'"
                      nz-input
                      formControlName="current_password"
                      placeholder="Current password"
                      (ngModelChange)="updateNewPasswordValidator()"
                      required />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="relative">
                <nz-form-label nzRequired nzFor="new_password">
                  New Password
                </nz-form-label>
                <nz-form-control
                  [nzErrorTip]="
                    !validateForm.value.new_password
                      ? nzErrorRequire
                      : validateForm.controls.new_password.hasError('confirm')
                        ? nzErrorDuplicatePassword
                        : nzErrorInvalidPassword
                  ">
                  <nz-input-group
                    [nzPrefix]="prefixLock"
                    [nzSuffix]="suffixVisibleNPassword">
                    <input
                      [type]="isVisibleNPassword ? 'text' : 'password'"
                      nz-input
                      formControlName="new_password"
                      placeholder="New password"
                      (ngModelChange)="updateConfirmPasswordValidator()"
                      required />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="relative">
                <nz-form-label nzRequired nzFor="confirm_password"
                  >Confirm Password</nz-form-label
                >
                <nz-form-control
                  [nzErrorTip]="
                    !validateForm.value.confirm_password
                      ? nzErrorRequire
                      : nzErrorPasswordConfirm
                  ">
                  <nz-input-group
                    [nzPrefix]="prefixLock"
                    [nzSuffix]="suffixVisibleRPassword">
                    <input
                      [type]="isVisibleRPassword ? 'text' : 'password'"
                      nz-input
                      formControlName="confirm_password"
                      placeholder="Confirm password"
                      required />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <div class="d-flex justify-content-end">
                <button
                  nz-button
                  class="login-form-button"
                  [nzType]="'primary'">
                  Confirm
                </button>
              </div>
            </form>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
            <ng-template #suffixVisible>
              <i
                tabindex="0"
                nz-icon
                [nzType]="isVisibleCPassword ? 'eye-invisible' : 'eye'"
                (click)="isVisibleCPassword = !isVisibleCPassword"></i>
            </ng-template>
            <ng-template #suffixVisibleNPassword>
              <i
                tabindex="1"
                nz-icon
                [nzType]="isVisibleNPassword ? 'eye-invisible' : 'eye'"
                (click)="isVisibleNPassword = !isVisibleNPassword"></i>
            </ng-template>
            <ng-template #suffixVisibleRPassword>
              <i
                tabindex="2"
                nz-icon
                [nzType]="isVisibleRPassword ? 'eye-invisible' : 'eye'"
                (click)="isVisibleRPassword = !isVisibleRPassword"></i>
            </ng-template>
          </nz-card>
        </div>
        <div class="offset-md-1 col-md-6 d-none d-md-block">
          <img
            class="img-fluid"
            priority="low"
            ngSrc="./assets/images/others/login.png"
            alt=""
            height="1540"
            width="2066" />
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">© 2024 Novo Nordisk</span>
    </div>
  </div>
</div>
